button {
    width: 6.5625rem;
    height: 3.75rem;
    background: var(--background-normal-button);
    border-radius: var(--custom-border-radius);
}

button.calculator-button-bright {
    background-color: var(--background-highlight-button);
}

button.calculator-button-accent {
    background-color: var(--color-accent-green);
}

.main-content-wrapper {
    display: flex;
    justify-content: center;
    gap: 2.25rem;
}

section.main {
    width: var(--global-main-width);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

div.display {
    width: 36.5625rem;
    min-width: 36.5625rem;
    margin: 3.65265rem;
    height: 7.5rem;
    border-radius: 0.45rem;
    background: linear-gradient(#000, #222);
    user-select: text;
    overflow: hidden;
    border: 1px solid white;
    display: flex;
    justify-content: flex-end;
}

div.display div {
    color: var(--color-display-text);
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    font-size: 3rem;
    font-family: SevenSegment;
    border-radius: 0.45rem;
    margin: 0.9375rem;
    max-width: calc(36.5635rem - (0.9375rem)*2);
    overflow: hidden;
}

.buttons-wrapper {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    width: 36.5625;
    grid-gap: 0.9rem;
    align-items: center;
    justify-content :space-between;
}

.buttons-wrapper button {
    color: black;
    font-size: 1.5rem;
    font-weight: 700;
    box-shadow: 0 0.5rem 0 rgba(0, 0, 0, 0.6), 0 0 0 black;
    transition: all 0.1s ease-in-out;
}

.buttons-wrapper button:not(.calculator-button-accent):not(.calculator-button-bright) {
    color: var(--color-white) !important;
}

.buttons-wrapper button:hover {
    box-shadow: 0 0 5rem 0.5rem rgba(0, 0, 0, 0.5), 0 0 1rem black;
    filter: brightness(70%);
}

.buttons-wrapper:hover button:not(:hover) {
    filter: brightness(110%);
    transition: all 0.2s;
}

.buttons-wrapper button:active {
    box-shadow: 0 0 5rem 0.5rem rgba(0, 0, 0, 0.5), 0 0 0 black;
    outline: 1px solid white;
    transform: scale(0.9);
}

.buttons {
    width:fit-content;
}

#buttonErase {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-erase-left-arrow {
    height: 1.45rem;
    width: 1.45rem;
    border: 3px solid black;
    border-radius: 5px;
    border-right-color: transparent;
    border-bottom-color: transparent;
    rotate: -45deg;
    transform: translate(0.55rem, 0.55rem);
}

.button-erase-x-content {
    border: 3px solid black;
    border-left-color: transparent;
    border-left-width: 0;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    width: 1.8rem;
    height: 1.8rem;
    line-height: 1.3rem;
    padding: 0;
    margin: 0;
}

@media all and (max-width: 750px) {
    .buttons-wrapper {
        grid-gap: 0.2rem;
        transition: all 250ms;
    }

    button {
        transition: all 250ms;
        width: 4rem;
    }

    div.display {
        margin-left: 1rem;
        margin-right: 1rem;
        width: 20.5rem;
        transition: all 250ms;
        min-width: 20.5rem;
    }

    section.main {
        transition: all 250ms;
        width: 23rem;
    }

    div.display div {
        transition: all 250ms;
        width: 18rem;
        min-width: 5rem;
        opacity: 1;
    }
}